body {
    font-family: Arial, Helvetica, sans-serif;
}

.flex-container {
    display: flex;
}

.image-div {
    padding: 45px;
    position: relative;
}

.image-div .discount-display {
   position: absolute; 
   top: 20px;
   right: 20px;
   background-color: orangered;
   color: white;
   font-size: 12px;
   padding: 3px 5px;
}

.image-div img {
    width: auto;
    height: 130px;
}

.about-div h3 {
    color: rgb(93, 93, 247);
}

.price-div button {
    background-color: rgb(255, 208, 0);
    border: none;
}