main {
    color: white;
}


.section-one {
    background-color: #4f74b8; 
}

.section-two {
    background-color: #cad7f0; 
}

.section-three {
    background-color: #3f5f9b; 
}

.section-four {
    background-color: #dee3ec; 
}

.container-main {
    margin: 0 auto;
    width: 100%;
    max-width: 85vw;
}

h1 {
    font-size: 3rem;
    margin-top: 0;
}

p {
    margin: 0;
}